<%= render 'layouts/header' %>
<div class="main">
  <div class="main__comp">
    <div class="main__comp__image">
      <%= image_tag "interior-image.jpeg" %>
    </div>
    <div class="main__comp__info">
      <h2 class="main__comp__info__title">地元に愛され30年</h2>
      <p class="main__comp__info__sub">こだわりのノウハウ<br>『プロフェッショナル不動産<br>コンサルティング』</p>
      <p class="main__comp__info__comment">香川県全域、高松市を中心に中国・四国地方で土地、住宅、事務所、店舗、工場、倉庫、駐車場の売買仲介や企画開発、管理、不動産運用ならびに相続・税務上の不動産コンサルディングを長年行なっております。</p>
    </div>
  </div>
  <div class="main__bar">
    Rent / Sale
  </div>
  
  <div class="main__listing">
    <%= search_form_for @q, url:search_items_path, class:"main__listing__side" do |f| %>
      <div class="main__listing__side__search">
        <label class="main__listing__side__search__title">Search / 検索</label>
        <div class="main__listing__side__search__tab">
          <div class="main__listing__side__search__tab__rent">Rent</div>
          <div class="main__listing__side__search__tab__sale">Sale</div>
        </div>
        <div class="main__listing__side__search__area">
          <%= f.label :area_id_in, 'エリア', class:"main__listing__side__search__area__title" %>
          <%= f.collection_check_boxes :area_id_in, Area.all, :id, :name, class:"main__listing__side__search__area__checkbox" do |b| %>
            <div>
              <%= b.check_box %>
              <%= b.label %>
            </div>
            <% end %>
        </div>

        <div class="main__listing__side__search__type">
          <%= f.label :type_id_in, '検索タイプ', class:"main__listing__side__search__type__title" %>
          <%= f.collection_check_boxes :type_id_in, Type.all, :id, :name, class:"main__listing__side__search__type__checkbox" do |b| %>
            <div>
              <%= b.check_box %>
              <%= b.label %>
            </div>
            <% end %>
        </div>

        <div class="main__listing__side__search__freeword">
           <%= f.label :name_cont, 'あいまい検索'%>
           <%= f.search_field :name_cont, class:"main__listing__side__search__freeword__searchbox" %>
        </div>

        <div class="main__listing__side__search__btn">
          <%= f.submit class:"main__listing__side__search__btn__submit" %>
        </div>
      </div>
    <% end %>



    <div class="main__listing__list">
      <div class="main__listing__list__clear">
          <% unless @items[0]==nil %> 
            <% @items.each do |item| %>
              <%= link_to item_path(item), class:"main__listing__list__clear__item1" do %>
                <div class="main__listing__list__clear__item1__photo">
                  <%= image_tag item.image.url %>
                </div>
                <span class="main__listing__list__clear__item1__mark">Sale</span>
                <label class="main__listing__list__clear__item1__name">
                  <%=item.name %>
                </label>
                <p class="main__listing__list__clear__item1__detail">
                  <%=item.traffic %>
                </p>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
