<%= render 'layouts/header' %>
<div class="bases">
  <div class="bases__header"></div>
  <%= form_with model: @item, html: {class:"bases__main"}, local: true do |f| %>
    <div class="bases__main__first">
      <div class="bases__main__first__top">
        <label class="bases__main__first__top__title">出品画像</label>
        <span class="bases__main__first__top__mark">必須</span>
        <p class="bases__main__first__top__info">最大５枚までアップロードできます</p>
        <div class="bases__main__first__top__upload">
          <%= f.label :image, class:"bases__main__first__top__upload__up" do %>
            <i class="bases__main__first__top__upload__up__icon"></i>
            <%= f.file_field :image, class:'bases__main__first__top__upload__up__file' %>
            <p class="bases__main__first__top__upload__up__text">クリックしてファイルをアップロード</p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="bases__main__second">
      <div class="bases__main__second__top">
        <label class="bases__main__second__top__title">建物名</label>
        <span class="bases__main__second__top__mark">必須</span>
        <%= f.text_field :name, class: "bases__main__second__top__text", placeholder: "２０文字まで" %>
      </div>
      <div class="bases__main__second__top">
        <label class="bases__main__second__top__title">キャッチアップ タイトル</label>
        <span class="bases__main__second__top__mark">必須</span>
        <%= f.text_field :catchup, class:"bases__main__second__top__text", placeholder:"２０文字まで" %>
      </div>
      <div class="bases__main__second__middle">
        <label class="bases__main__second__middle__title">グッドポイントの説明</label>
        <span class="bases__main__second__middle__mark">必須</span>
        <%= f.text_area :good, class:"bases__main__second__middle__text", rows:"7", maxlength:"175", placeholder:"商品の説明（必須175文字以内)".html_safe %>
      <p class="bases__main__second__bottom">0/175</p>
      </div>
      <div class="bases__main__second__top">
        <label class="bases__main__second__top__title">エリア</label>
        <span class="bases__main__second__top__mark">必須</span>
        <%= f.collection_select :area_id, Area.all, :id, :name, {prompt:"選択してください"}, {class:"bases__main__second__top__text"} %>
      </div>
      <div class="bases__main__second__top">
        <label class="bases__main__second__top__title">タイプ</label>
        <span class="bases__main__second__top__mark">必須</span>
        <%= f.collection_select :type_id, Type.all, :id, :name, {prompt:"選択してください"}, {class:"bases__main__second__top__text"} %>
      </div>
      <div class="bases__main__second__top">
        <label class="bases__main__second__top__title">募集部屋</label>
        <span class="bases__main__second__top__mark">必須</span>
        <%= f.text_field :room, class:"bases__main__second__top__text", placeholder:"３０文字まで" %>
      </div>
      <div class="bases__main__second__top">
        <label class="bases__main__second__top__title">賃料</label>
        <span class="bases__main__second__top__mark">必須</span>
        <%= f.text_field :room_fee, class:"bases__main__second__top__text", placeholder:"３０文字まで" %>
      </div>
      <div class="bases__main__second__top">
        <label class="bases__main__second__top__title">共益費</label>
        <span class="bases__main__second__top__mark">必須</span>
        <%= f.text_field :common_ff, class:"bases__main__second__top__text", placeholder:"３０文字まで" %>
      </div>
      <div class="bases__main__second__top">
        <label class="bases__main__second__top__title">面積・間取り</label>
        <span class="bases__main__second__top__mark">必須</span>

        <%= f.text_field :room, class:"bases__main__second__top__text", placeholder:"３０文字まで" %>

        
      </div>
      <div class="bases__main__second__top">
        <label class="bases__main__second__top__title">敷金</label>
        <span class="bases__main__second__top__mark">必須</span>
        <%= f.text_field :deposit, class:"bases__main__second__top__text", placeholder:"３０文字まで" %>
      </div>
      <div class="bases__main__second__top">
        <label class="bases__main__second__top__title">礼金</label>
        <span class="bases__main__second__top__mark">必須</span>
        <%= f.text_field :money, class:"bases__main__second__top__text", placeholder:"３０文字まで" %>
      </div>
      <div class="bases__main__second__top">
        <label class="bases__main__second__top__title">保証会社</label>
        <span class="bases__main__second__top__mark">必須</span>
        <%= f.text_field :guarantee, class:"bases__main__second__top__text", placeholder:"３０文字まで" %>
      </div>
      <div class="bases__main__second__top">
        <label class="bases__main__second__top__title">仲介手数料</label>
        <span class="bases__main__second__top__mark">必須</span>
        <%= f.text_field :brokerage, class:"bases__main__second__top__text", placeholder:"３０文字まで" %>
      </div>
      <div class="bases__main__second__top">
        <label class="bases__main__second__top__title">火災保険</label>
        <span class="bases__main__second__top__mark">必須</span>
        <%= f.text_field :insurance, class:"bases__main__second__top__text", placeholder:"３０文字まで" %>
      </div>
      <div class="bases__main__second__top">
        <label class="bases__main__second__top__title">更新手数料</label>
        <span class="bases__main__second__top__mark">必須</span>
        <%= f.text_field :renew, class:"bases__main__second__top__text", placeholder:"３０文字まで" %>
      </div>
      <div class="bases__main__second__top">
        <label class="bases__main__second__top__title">入居予定</label>
        <span class="bases__main__second__top__mark">必須</span>
        <%= f.text_field :movein, class:"bases__main__second__top__text", placeholder:"３０文字まで" %>
      </div>
      <div class="bases__main__second__middle">
        <label class="bases__main__second__middle__title">その他</label>
        <span class="bases__main__second__middle__mark">必須</span>
        <%= f.text_area :others, class:"bases__main__second__middle__text", rows:"2", maxlength:"50", placeholder:"その他の説明（必須50文字以内)".html_safe %>
      </div>
      <p class="bases__main__second__bottom">0/50</p>
      <div class="bases__main__second__top">
        <label class="bases__main__second__top__title">所在地</label>
        <span class="bases__main__second__top__mark">必須</span>
        <%= f.text_field :area_id, class:"bases__main__second__top__text", placeholder:"３０文字まで" %>
      </div>
      <div class="bases__main__second__middle">
        <label class="bases__main__second__middle__title">交通</label>
        <span class="bases__main__second__middle__mark">必須</span>
        <%= f.text_area :traffic, class:"bases__main__second__middle__text", rows:"2", maxlength:"50", placeholder:"交通の説明（必須50文字以内)".html_safe %>
      </div>
      <p class="bases__main__second__bottom">0/50</p>
      <div class="bases__main__second__top">
        <label class="bases__main__second__top__title">物件名</label>
        <span class="bases__main__second__top__mark">必須</span>
        <%= f.text_field :building_name, class:"bases__main__second__top__text", placeholder:"３０文字まで" %>
      </div>
      <div class="bases__main__second__top">
        <label class="bases__main__second__top__title">構造・規模</label>
        <span class="bases__main__second__top__mark">必須</span>
        <%= f.text_field :building_name, class:"bases__main__second__top__text", placeholder:"３０文字まで" %>
      </div>
      <div class="bases__main__second__top">
        <label class="bases__main__second__top__title">専有面積</label>
        <span class="bases__main__second__top__mark">必須</span>
        <%= f.text_field :structure, class:"bases__main__second__top__text", placeholder:"３０文字まで" %>
      </div>
      <div class="bases__main__second__top">
        <label class="bases__main__second__top__title">募集戸数</label>
        <span class="bases__main__second__top__mark">必須</span>
        <%= f.text_field :occupied_area, class:"bases__main__second__top__text", placeholder:"３０文字まで" %>
      </div>
       <div class="bases__main__second__top">
        <label class="bases__main__second__top__title">募集戸数</label>
        <span class="bases__main__second__top__mark">必須</span>
        <%= f.text_field :number, class:"bases__main__second__top__text", placeholder:"３０文字まで" %>
      </div>
      <div class="bases__main__second__top">
        <label class="bases__main__second__top__title">施工年</label>
        <span class="bases__main__second__top__mark">必須</span>
        <%= f.text_field :year, class:"bases__main__second__top__text", placeholde:"３０文字まで" %>
      </div>
      <div class="bases__main__second__middle">
        <label class="bases__main__second__middle__title">仕様・設備</label>
        <span class="bases__main__second__middle__mark">必須</span>
        <%= f.text_area :specifications, class:"bases__main__second__middle__text", rows:"2", maxlength:"50", placeholder:"その他の説明（必須50文字以内)".html_safe %>
      </div>
      <p class="bases__main__second__bottom">0/50</p>
    </div>
    <div class="bases__main__sixth">
      <%= f.submit "投稿する", class: "bases__main__sixth__submit" %>
      <div class="bases__main__sixth__button">下書きに保存</div>
      <div class="bases__main__sixth__return">もどる</div>
    </div>
  <% end %>
</div>
<%= render 'layouts/footer' %>




