<%= render 'layouts/header' %>
<div class="under">
  <%= search_form_for @q, url:search_items_path, class:"under__side" do |f| %>
    <div class="under__side__search">
      <label class="under__side__search__title">Search / 検索</label>
      <div class="under__side__search__tab">
        <div class="under__side__search__tab__rent">Rent</div>
        <div class="under__side__search__tab__sale">Sale</div>
      </div>
      <div class="under__side__search__area">
        <%= f.label :area_id_in, 'エリア', class:"under__side__search__area__title" %>
        <%= f.collection_check_boxes :area_id_in, Area.all, :id, :name, class:"under__side__search__area__checkbox" do |b| %>
          <div>
            <%= b.check_box %>
            <%= b.label %>
          </div>
          <% end %>
      </div>

      <div class="under__side__search__type">
        <%= f.label :type_id_in, '検索タイプ', class:"under__side__search__type__title" %>
        <%= f.collection_check_boxes :type_id_in, Type.all, :id, :name, class:"under__side__search__type__checkbox" do |b| %>
          <div>
            <%= b.check_box %>
            <%= b.label %>
          </div>
          <% end %>
      </div>

      <div class="under__side__search__freeword">
          <%= f.label :name_or_catchup_or_good_or_room_cont, 'あいまい検索'%>
          <%= f.search_field :name_or_catchup_or_good_or_room_cont, class:"under__side__search__freeword__searchbox" %>
      </div>

      <div class="under__side__search__btn">
        <%= f.submit class:"under__side__search__btn__submit" %>
      </div>
    </div>
  <% end %>



  <div class="under__main">
    <div class="under__main__base">
      <% @items.each do |item| %>
        <%= link_to item_path(item), class:"under__main__base__item1" do %>
          <div class="under__main__base__item1__photo">
            <%= image_tag item.image.url %>
          </div>
          <span class="under__main__base__item1__mark">Sale</span>
          <label class="under__main__base__item1__name">
            <%=item.name %>
          </label>
          <p class="under__main__base__item1__access">
            <%=item.traffic %>
          </p>
        <% end %>
      <% end %>

    </div>
  </div>

</div>
<%= render 'layouts/footer' %>