<%= render 'layouts/header' %>
<div class="under">
   <div class="under__side">
    <div class="under__side__search">
      <label class="under__side__search__title">Search / 検索</label>
      <div class="under__side__search__tab">
        <div class="under__side__search__tab__rent">Rent</div>
        <div class="under__side__search__tab__sale">Sale</div>
      </div>
      <div class="under__side__search__area">
        <label class="under__side__search__area__title">エリア</label>
        <div class="under__side__search__area__checkbox">□高松市市街　□高松市郊外　□香川県西讃<br>□香川県東讃　□その他県外</div>
      </div>
      <div class="under__side__search__type">
        <label class="under__side__search__type__title">検索タイプ</label>
        <div class="under__side__search__type__checkbox">□事務所　□店舗　□戸建て<br>□土地　□倉庫　□一棟ビル<br>□マンション・アパート □駐車場</div>
      </div>
      <div class="under__side__search__freeword">
        <label class="under__side__search__freeword__title">フリーワード検索</label>
        <div class="under__side__search__freeword__searchbox"></div>
      </div>
      <div class="under__side__search__btn">
        <div class="under__side__search__btn__submit">検 索</div>
      </div>
    </div>
  </div>



  <div class="under__main">
    <div class="under__main__base">
      <div class="under__main__base__item1">
        <div class="under__main__base__item1__photo">
          <%= image_tag "companyimage.png" %>
        </div>
        <span class="under__main__base__item1__mark">Sale</span>
        <label class="under__main__base__item1__name">サーパス高松駅前</label>
        <p class="under__main__base__item1__access">JR高徳線「高松駅」徒歩4分/63.90平米/15万円</p>
      </div>
      <div class="under__main__base__item1">
        <div class="under__main__base__item1__photo">
          <%= image_tag "companyimage.png" %>
        </div>
        <span class="under__main__base__item1__mark">Sale</span>
        <label class="under__main__base__item1__name">サーパス高松駅前</label>
        <p class="under__main__base__item1__access">JR高徳線「高松駅」徒歩4分/63.90平米/15万円</p>
      </div>
      <div class="under__main__base__item1">
        <div class="under__main__base__item1__photo">
          <%= image_tag "companyimage.png" %>
        </div>
        <span class="under__main__base__item1__mark">Sale</span>
        <label class="under__main__base__item1__name">サーパス高松駅前</label>
        <p class="under__main__base__item1__access">JR高徳線「高松駅」徒歩4分/63.90平米/15万円</p>
      </div>
      <div class="under__main__base__item1">
        <div class="under__main__base__item1__photo">
          <%= image_tag "companyimage.png" %>
        </div>
        <span class="under__main__base__item1__mark">Sale</span>
        <label class="under__main__base__item1__name">サーパス高松駅前</label>
        <p class="under__main__base__item1__access">JR高徳線「高松駅」徒歩4分/63.90平米/15万円</p>
      </div>
      <div class="under__main__base__item1">
        <div class="under__main__base__item1__photo">
          <%= image_tag "companyimage.png" %>
        </div>
        <span class="under__main__base__item1__mark">Sale</span>
        <label class="under__main__base__item1__name">サーパス高松駅前</label>
        <p class="under__main__base__item1__access">JR高徳線「高松駅」徒歩4分/63.90平米/15万円</p>
      </div>
      <div class="under__main__base__item1">
        <div class="under__main__base__item1__photo">
          <%= image_tag "companyimage.png" %>
        </div>
        <span class="under__main__base__item1__mark">Sale</span>
        <label class="under__main__base__item1__name">サーパス高松駅前</label>
        <p class="under__main__base__item1__access">JR高徳線「高松駅」徒歩4分/63.90平米/15万円</p>
      </div>
      <div class="under__main__base__item1">
        <div class="under__main__base__item1__photo">
          <%= image_tag "companyimage.png" %>
        </div>
        <span class="under__main__base__item1__mark">Sale</span>
        <label class="under__main__base__item1__name">サーパス高松駅前</label>
        <p class="under__main__base__item1__access">JR高徳線「高松駅」徒歩4分/63.90平米/15万円</p>
      </div>
      <div class="under__main__base__item1">
        <div class="under__main__base__item1__photo">
          <%= image_tag "companyimage.png" %>
        </div>
        <span class="under__main__base__item1__mark">Sale</span>
        <label class="under__main__base__item1__name">サーパス高松駅前</label>
        <p class="under__main__base__item1__access">JR高徳線「高松駅」徒歩4分/63.90平米/15万円</p>
      </div>
    </div>
  </div>

</div>
<%= render 'layouts/footer' %>