<%= render 'layouts/header' %>

<div class="Showitem">
  <%# <div class="Showitem__bar1">
    <h2>Rent / Sale</h2>
  </div> %>
  <div class="Showitem__bar2">
    <p class="Showitem__bar2__back">
      <%# <a href="#">一覧へ</a> %>
     </p>
  <div class="Showitem__main">
    <div class="Showitem__main__image">
      <div class="Showitem__main__image__right">
        <h3><%=@item.name%></h3>
        <h4><%=@item.catchup%></h4>
        <p><%=@item.good%></p>
        <div class="Showitem__main__image__right__btn">
          <%=link_to "内覧申し込み / お問い合わせ", new_contact_path, class:"Showitem__main__image__right__btn__submit" %>
          <%# <a href="#" class="Showitem__main__image__right__btn__submit">内覧申し込み / お問い合わせ</a> %>
        </div>
      </div>
      <div class="Showitem__main__image__left">
        <%= image_tag "build-image.jpg" %>
      </div>
    </div>
    <div class="Showitem__main__middle">
      <div class="Showitem__main__middle__left">
        <h4>For Rent</h4>
        <div class="Showitem__main__middle__left__detail">
          <table>
            <tr><th>タイプ</th><td><%=@item.type_id%></td></tr>
            <tr><th>エリア</th><td><%=@item.area_id%></td></tr>
            <tr><th>賃料</th><td><%=@item.room_fee%></td></tr>
            <tr><th>共益費</th><td><%=@item.common_ff%></td></tr>
            <tr><th>面積／間取り</th><td><%=@item.room%></td></tr>
            <tr><th>敷金</th><td><%=@item.deposit%></td></tr>
            <tr><th>礼金</th><td><%=@item.money%></td></tr>
            <tr><th>保証会社</th><td><%=@item.guarantee%></td></tr>
            <tr><th>仲介手数料</th><td><%=@item.brokerage%></td></tr>
            <tr><th>火災保険</th><td><%=@item.insurance%></td></tr>
            <tr><th>更新手数料</th><td><%=@item.renew%></td></tr>
            <tr><th>入居予定</th><td><%=@item.movein%></td></tr>
            <tr><th>その他</th><td><%=@item.others%></td></tr>
          </table>
          <div class="Showitem__main__middle__left__madori">
            <%= image_tag "間取り図-image.jpg" %>
          </div>
        </div>
        <% if user_signed_in? && current_page?(users_items_show_path)%>
        <br><br>
          <%=link_to "編集する", new_contact_path, class:"Showitem__main__middle__left__edit" %>
          <%=link_to "削除する", new_contact_path, class:"Showitem__main__middle__left__delete" %>
        <%end%>
      </div>
      <div class="Showitem__main__middle__right">
        <h4>Access</h4>
        <table>
          <tr>
          <th>所在地</th>
          <td>：</td>
          <td><%=@item.address%></td>
          </tr>
          <tr>
          <th>交通</th>
          <td>：</td>
          <td><%=@item.traffic%></td>
          </tr>
        </table>
        <div class="Showitem__main__middle__right__map">
          <script type="text/javascript">
            function initMap() {
          // latitude,longitudeから位置を特定
              var test ={lat: <%= @item.latitude %>, lng: <%= @item.longitude %>};
              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15, 
                center: test
              });
              var transitLayer = new google.maps.TransitLayer();
                transitLayer.setMap(map);

              var contntString = '住所：<%= @item.address %>';
              var infowindow = new google.maps.InfoWindow({
                content: contentString
              });
              // #Map上の指定した位置にピンを挿して表示する
              var marker = new google.maps.Marker({
                position:test,
                map: map,
                title: contentString
              });
              marker.addListener('click', function() {
                infowindow.open(map, marker);
              });
            }
          </script>
          <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAFP5kPYrI7rhOIIvBmCSs_srXN9DRGvUg&callback=initMap">
          </script>
          <style type="text/css">
            #map { height: 200px;
            width: 70%;}
          </style>
          <div id="map"></div>
          <%# // <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6961.876760040115!2d132.47825969734362!3d34.41531467737127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x355a9f307b02e099%3A0x29ad423e9c11fc6a!2z44CSNzMyLTAwNjIg5bqD5bO255yM5bqD5bO25biC5p2x5Yy654mb55Sw5pep56iy55Sw77yT5LiB55uu77yV!5e0!3m2!1sja!2sjp!4v1614839553741!5m2!1sja!2sjp" width="565" height="425" style="border:0;" allowfullscreen="" loading="lazy"></iframe> %>
        </div>
        <br>
        <h4>Outline</h4>
          <table>
            <tr><th>物件名</th><td>：</td><td><%=@item.name%></td></tr>
            <tr><th>構造・規模</th><td>：</td><td><%=@item.structure%></td></tr>
            <tr><th>専有面積</th><td>：</td><td><%=@item.occupied_area%></td></tr>
            <tr><th>募集戸数</th><td>：</td><td><%=@item.number%></td></tr>
            <%# <tr><th>契約形態</th><td>：</td><td>普通借家契約2年</td></tr> %>
            <tr><th>竣工年</th><td>：</td><td><%=@item.year%></td></tr>
            <tr><th>仕様・設備</th><td>：</td><td><%=@item.specifications%></td></tr>
            <%# <tr><th>駐車場</th><td>：</td><td>有（使用料無料）</td></tr>
            <tr><th>駐輪場</th><td>：</td><td>無</td></tr> %>
            <%# <tr><th>バイク置場</th><td>：</td><td>無</td></tr> %>
            <%# <tr><th>備考</th><td>：</td><td>ペット飼育不可</td></tr> %>
            <%# <tr><th>設計監修</th><td>：</td><td>株式会社ブルースタジオ</td></tr>
            <tr><th>取引形態</th><td>：</td><td>媒介</td></tr>
            <tr><th>情報更新</th><td>：</td><td>2021年2月19日</td></tr>
            <tr><th>次回更新</th><td>：</td><td>2021年3月5日</td></tr> %>
          </table>
        <p class="Showitem__main__middle__right__text">
          *条件は予告なく変更される場合があります。ご了承下さい。
        </p>
      </div>
    </div> 
  </div>
</div>
<%# <%= render 'layouts/footer'%> 
<%# <% if user_signed_in? && current_page?(users_items_show_path)%> 