<header class="header">
  <div class="header__top">
    <h1 class="header__top__left">Tsukasa Real Estate Co. Ltd</h1>
    <div class="header__top__right">
     <div class="header__top__right__info">
      株式会社司不動産<br>TEL: 087-823-5656<br>電話受付:10:00~17:00
     </div>
     <%=link_to "お問い合わせ", new_contact_path, class:"header__top__right__request" %>
    </div>
  </div>
  <div class="header__bottom">
    <div class="header__bottom__left">
      <%=link_to "会社概要", companies_path, class:"header__bottom__left__info" %>
      <%=link_to "お問い合わせ", new_contact_path, class:"header__bottom__left__ask" %>
    </div>
    <div class="header__bottom__right">

      <%=link_to "ログイン", new_user_session_path, class:"header__bottom__right__login" %>
      <%=link_to "新規登録", new_user_registration_path, class:"header__bottom__right__register" %>
      <%=link_to "投稿",  new_item_path, class:"header__bottom__right__shipping" %>

    </div>
  </div>
</header>